Jakieś zdanie po polsku.
Testujemy zmienne globalne:
urlBase = http://pietraspawel.pl/testowisko
urlCss = [
    http://pietraspawel.pl/testowisko/css/style.css?0.0.0
    http://pietraspawel.pl/testowisko/css/inny_plik.css?0.0.0
]
urlJs = [
    http://pietraspawel.pl/testowisko/js/any_js.js?0.0.0
]
errors = [
]
notices = [
    Powiadomienie pierwsze
    Notatka druga
    Jakiś crap
]
basetext = [
    menu = [
        menu1 = menu1
        menu2 = menu2
    ]
]
text = [
    keyboard = klawiatura
    test = test
    notebook = zeszyt
]
userArg1 = aaa
userArg2 = bbb
renderVar1 = rv1